/* Title */
h1 {
  border: 1px solid green;
  box-shadow: 5px 10px 20px rgba(166, 255, 0, 0.678);
  color: rgba(103, 155, 7, 0.945);
  background-color: rgb(24, 15, 0);
  font-weight: 100;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* Background */
body {
  background-color: rgb(66, 66, 66);
}
/* Align */
.align {
  display: flex;
  flex-direction: row-reverse;
}
.align1 {
  display: flex;
  flex-direction: row-reverse;
}
.box {
  order: 3;
}
.box1 {
  order: 3;
}

/* Woods */
.local {
  background-color: rgba(87, 44, 4, 0.781);
  text-align: center;
  font-size: 50px;
  width: 550px;
  border: 8px groove rgb(146, 96, 3);
  padding: 5px;
  display: inline-block;
  margin-left: 40px;
}
.box {
  background-color: rgba(63, 1, 1, 0.644);
  font-size: 18px;
  display: inline-block;
  width: 225px;
  border: 8px double rgb(63, 36, 2);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 45px;
}
#potion {
  width: 200px;
  height: 180px;
  margin-right: 10px;
}

/* Market*/
.local1 {
  background-color: rgba(87, 44, 4, 0.781);
  box-shadow: ;
  text-align: center;
  font-size: 50px;
  width: 550px;
  border: 8px groove rgb(146, 96, 3);
  padding: 5px;
  display: inline-block;
  margin-left: 40px;
}
.box1 {
  background-color: rgba(63, 1, 1, 0.644);
  font-size: 18px;
  display: inline-block;
  width: 220px;
  border: 8px double rgb(63, 36, 2);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 40px;
}

#pheonix {
  width: 200px;
  height: 180px;
  margin-right: 10px;
}
